


<!-- Bottom Nav -->
    
    <!-- Footer Section -->
    
    <footer>
    
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
          <p style="color:white;">&copy; Copyright 2020. All right reserved.</p>
      </nav>
  
   </footer>