
<!-- About Me Page section -->
<!-- Name: Laxman Gothe -->
<!-- Student number: 301102988 -->
<!-- Course Code: COMP229002_2021W -->
<!-- Course Name: Web Application Development -->
<!-- Assignment 1: Express Portfolio Site -->

<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title><%= title %></title>

  <!-- CSS Section--> 
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/Content/app.css"/>

</head>
<body>